/* Ustawienia globalne */
body {
    font-family: "Courier New", monospace;
    text-align: center;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 0;
}

/* Kontener na stronie głównej */
.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

/* Stylizacja pola do wpisywania hasła */
input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: "Courier New", monospace;
    text-align: center;
    margin-bottom: 10px;
}

/* Stylizacja przycisku na stronie głównej */
button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

/* Komunikat o błędnym haśle */
#error-message {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: none; /* Ukryte, dopóki użytkownik nie wpisze błędnego hasła */
}

/* Przyciski na podstronach */
.back-button {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: red;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
}

.back-button:hover {
    background-color: darkred;
